/* CSS Stylesheet */

body {
    background-color: #FFFFFF;
}


.sidebar {
    width: 15%;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    background-color: #f0f0f0;
    padding: 20px;
}


#topbar {
    top: 0;
    left: 0;
    position:fixed;
    font-size: 14px;
    text-align: center;
    background-color: rgb(151, 177, 151);
    width: 85%;
}



#friend-home {
    top: 8%;
    left: 0;
    position:fixed;
    font-size: 14px;
    text-align: center;
    width: 82%;
    height: 65%;
    background-image: url("Contents/pet.png");
    background-repeat: no-repeat;
    background-size: contain;
}


#taskbar {
    top: 75%;
    left: 0;
    position: fixed;
    font-size: 18px;
    text-align: left;
    width: 82%;
    height: 25%;
    background-color: rgb(173, 171, 173);
    padding: 10px;
}



#task-button {
    padding: 8px 16px;
    cursor: pointer;
}

#task-list {
    margin-top: 20px;
    list-style-type: none;
    padding: 0;
}

#task-list li {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

#task-list input[type="checkbox"] {
    margin-right: 10px;
}

.task-text {
    flex-grow: 1;
}